@import '/src/style/variables.scss';

.menu_categories {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 16px 0px;
  border-bottom: 2px solid $yellow;
  z-index: 5;
  box-sizing: border-box;
}
