@import '/src/style/variables.scss';
.menu_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__filler {
    width: 160px;
    height: 0;
    margin: 8px;
  }

  &__category {
    color: $yellow;
    padding: 8px;
    font-size: 18px;
  }
}
