@import '/src/style/variables.scss';

.error {
  background-color: rgba($red, 0.3);
  border: 1px solid rgba($red, 0.7);
  padding: 8px;
  margin: 16px 0px;

  &__title {
    font-weight: 600;
    margin-bottom: 8px;
  }

  &__close {
    float: right;
    cursor: pointer;
    font-size: 32px;
    line-height: 16px;

    &:hover {
      color: $red;
    }
  }
}
