@import '/src/style/variables.scss';

.product_card {
  width: 160px;
  background-color: $grey;
  margin: 8px;
  border-radius: $borderRadius;
  box-shadow: rgba(0, 0, 10, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: $form-background ;

  &__image {
    width: 160px;
    
  border-top-left-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 4px;
  }

  &__name,
  &__price {
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $grey;
  }

  // &__name {
  //   color: $yellow;
  // }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0px;
  }

  &__quantity {
    padding: 0px 12px;
    color: $yellow;
  }
}
