@import '/src/style/variables.scss';

.item_create_form {
  background-color: $form-background;
  color: $grey;
  border: 1px $yellow solid;
  padding: 8px;
  margin-bottom: 16px;
  margin-top: 8px;
  border-radius: $borderRadius;
  border-style: hidden;

  &__button {
    width: 100%;
    margin: 8px 0px;
    border-radius: $borderRadius;
  }

  &__description {
    font-weight: bold;
  }

  &__input {
    width: 100%;
    margin-bottom: 8px;
  }

  &__label {
    margin-right: 8px;
  }
}
