// if using CSS library, import here
@import './variables.scss';

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border: 1px solid $white;
  background-color: $white;
  margin: 12px 0px;
}

input,
textarea {
  background-color: $white;
  color: $grey;
  border: 2px solid $light-grey;
  resize: none;
  padding: 4px;
  display: block;
  box-sizing: border-box;
  border-radius: $borderRadius;

  &:hover,
  &:focus {
    outline: none !important;
    border: 2px solid $yellow;
  }
}

// Scroll bar
::-webkit-scrollbar {
  width: 4px;

  @media screen and (min-width: $desktop) {
    width: 8px;
  }
}

// Scroll bar track
::-webkit-scrollbar-track {
  background: $light-grey;
}

// Scroll bar handle
::-webkit-scrollbar-thumb {
  background: $yellow;

  &:hover {
    background: $yellow;
  }
}

// Helper class used primarily on menu categories/menu items
.mw-960 {
  max-width: 960px;
  margin: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
