@import './variables.scss';

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $white;
  margin: 0px;
  background: linear-gradient(106.5deg, #333f4c 0%, #1a2027 48.44%, #000000 100%);
}
