// Colors
$black: #333f4c;
$white: #edf4f7;
$red: #cb0000;
$bright-red: #ff3232;
$grey: #5a6675;
$light-grey: #a2aab6;
$grey-blue: #e4eaeb; // This color is called Robotic Gods, how cool is that.
$yellow: #ffc600;
$ruby: #c20146;
$form-background: whitesmoke;

// Breakpoints
$desktop: 768px;

// General
$borderRadius: 7px;
