// Colors
$black: #000;
$white: #fff;
$red: #cb0000;
$bright-red: #ff3232;
$grey: #333f4c;
$light-grey: #506276;
$grey-blue: #99a5b2; // This color is called Robotic Gods, how cool is that.
$yellow: #fdc002;
$ruby: #c20146;

// Breakpoihnts
$desktop: 768px;
