@import '/src/style/variables.scss';

.order_panel {
  position: absolute;
  top: 0;
  margin-top: 8%;
  width: 100%;
  background-color: $form-background;
  color: $grey;
  border-radius: 5px;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 99999;

  @media screen and (min-width: $desktop) {
    max-width: 400px;
    right: 0;
    padding: 16px;
  }

  &__close {
    text-align: right;
    cursor: pointer;
    font-size: 32px;
    line-height: 16px;

    &:hover {
      color: $yellow;
    }
  }

  &__button_group {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__button {
    width: 48%;
  }
}
